<ion-header>
  <ion-toolbar>
    <ion-title>Minhas disciplinas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        text=""
        icon="chevron-back"
        defaultHref="menu"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Listagem de Disciplinas</h1>
  <table border="1" style="width: 100%; text-align:center;" *ngFor="let d of disciplina">
    <tr>
      <th>Código</th>
      <td>{{d.id}}</td>
    </tr>
    <tr>
      <th>Nome</th>
      <td>{{d.nome}}</td>
    </tr>
    <tr>
      <th>Professor</th>
      <td>{{d.professor}}</td>
    </tr>
    <tr>
      <th>Horário</th>
      <td>{{d.horario}}</td>
    </tr>
    <tr>
      <th>Qtd Alunos</th>
      <td>{{d.qtdAluno}}</td>
    </tr>
    <tr>
      <th>Período</th>
      <td>{{d.periodo}}</td>
    </tr>

  </table>

  <ion-button size="small" color="secondary" (click)="onClickPost()">
    <ion-icon name="create"></ion-icon>
  </ion-button>
  <ion-button size="small" color="secondary" (click)="onClickUpdate()">
    <ion-icon name="sync"></ion-icon>
  </ion-button>
  <ion-button size="small" color="danger" (click)="onClickDelete()">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
</ion-content>
